# Compiler stuff (! implies excluding)
**/Make/*
!**/Make/files
!**/Make/options

# QTcreator (IDE) related
*.config
*.creator
*.creator.user
*.files
*.includes

# Log files
log*

# Include files
lnInclude

# Tmp files
.*.swp

# Keep untracked uqSolvers
gPCpimpleTurbFoam
gPCpimpleTurbFoamv1806_UQnut

# Keep untracked detSolvers
pimpleTurbFoamv1806
simpleFoamWithFixedNut

# Extra modules
excludedModels
uqBkp
funcObj
platforms
swak4Foam
